/*
Color Palette:
Azul Petroleo rgb(33, 112, 116)  / #217074 
Verde Albaca rgb(55, 116, 91)      / #37745B
Verde Cocodrilo rgb(139, 157, 119) / #8B9D77
Blanco Perla rgb(231, 234, 239) / #E7EAEF
Rosa Salsa rgb(237, 197, 171) / #EDC5AB
*/

body{
    background: #64BAAD ;
}
header{
    margin-left: 55px;
    font-size: 20px;
    transition: color 1s;
}
header:hover{
    color: #D74250;
    cursor: pointer;
}
#encryptor{
    width: 90%;
}
/* Seccion de Input */
.container-input {
    display:inline-block;
    position: absolute;
    margin: auto 3%;
    width: 45%;
    height: 500px;
    background: #B6663F;

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.753);
    border-radius: 32px;
}
#input-text{
    display: block;
    position: relative;
    top: 30px;
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    background-color:#B6663F;
    color:#b5c95f;
    resize: none;
    border: none;
    outline: none; 
    
}
::placeholder { 
    color: #b5c95f;
    opacity: 1;
  }
.buttons{
    display: inline-block;
    position: relative;
    margin: auto 20px ;
    width: 130px;
    height: 50px;
    border-radius: 10px;
    top: 100px;
    left: 150px;
    font-weight: bold;
    font-size: 15px;
}
.copyButton{
    display: block;
    position: absolute;
    text-align: center;
    width: 200px;
    height: 50px;
    top: 87%;
    left: 40%;
    border-radius: 10px;
}

/* Seccion de Output */
.container-output {
    display: inline-block;
    position: relative;
    margin: auto 3%;
    width: 45%;
    left: 50%;
    height: 500px;
    background: #B6663F;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.753);
    border-radius: 32px;
}
#output-text{
    display: inline-block;
    position: relative;
    margin: 15px;
    top:10px;
    font-size: 25px;
    font-weight: bold;
    background-color:#B6663F;
    color:#b5c95f;
    border: none;
    outline: none; 
    resize: none;
}
.pet{
    display:inline-block;
    position: absolute;
    right: 9px;
    top: 70px;
    border-radius: 10px;
}
@media (max-width: 400px) {
    .pet{
        width: 150px;
    }

  }